---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: Helvetica Neue, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

.no-padding {
    padding: 0;
}

.site-footer {
    margin-top: 5em;
}

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.twitter {
    display: inline-block;
    margin-top: 0.6em;
    background-color: #1b95e0;
    border-radius: 4px;
    padding: 3px 6px 5px 6px;
    text-decoration: none;
    color: #fff !important;
    font-weight: 600;
    font-size: 0.9em;
}

.twitter svg path {
    fill: white !important;
}

body {
    text-rendering: optimizeLegibility;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.6em;
}

h1 {
    font-size: 2.1em;
    padding-bottom: 0.3em;
}

h2 {
    font-size: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
    color: #D15F38;
}

a {
    color: #2F7A94;
    text-decoration: underline;
    text-decoration-color: #6090A1;
}

a:visited {
    color: #6090A1;
}

h1 {
    a {
        text-decoration: none;
        color: #D15F38;
        &:hover, &:visited {
            color: #D15F38;
        }
    }
}

nav {
    margin-top: 0.5em;
    margin-bottom: 2.5em;

    a {
        margin-right: 1em;
        text-decoration: none;
        font-size: 1.2em;
    }
}