<h4>Important dates</h4>

<p>Submission: TBA<br>
Notification: TBA<br>
Final version: TBA<br>
Presentations: TBA
</p>

<!-- <h4>Submissions</h4> -->
<!-- <p> -->
<!--   Submit via <a href="http://precisionconference.com/~vgtc/">PCS</a> -->
<!-- </p> -->
    
<h4>Organizers</h4>
<p><a href="https://homes.cs.washington.edu/%7Edomoritz/">Dominik Moritz</a>, UW.<br>
<a href="https://www.pnnl.gov/science/staff/staff_info.asp?staff_num=9106">Joseph Cottam</a>, PNNL.<br>
<a href="http://cs.umd.edu/%7Eleilani/bio.html">Leilani Battle</a>, UW.<br>
<a href="https://www.eecs.tufts.edu/%7Eprocopio/">Marianne Procopio</a>, Tufts.</p>

<h4>Contact</h4>
<p>
  <a href="mailto:organizers@interactive-analysis.org">organizers@interactive-analysis.org</a>
</p>

  
</div>
