<h4>Important dates</h4>

<p>Submission: 2015-08-17<br>
Notification: 2015-08-31<br>
Final version: 2015-09-15<br>
Presentations: 2015-10-26, Monday, 2-6PM
</p>

<h4>Submissions</h4>
<p>
  <a href="mailto:workshop@interactive-analysis.org">workshop@interactive-analysis.org</a>
</p>
    
<h4>Organizers</h4>
<p><a href="http://www.cs.tufts.edu/~remco/">Remco Chang</a>, Tufts.<br>
<a href="http://cscheid.net">Carlos Scheidegger</a>, Arizona.<br>
<a href="http://research.microsoft.com/en-us/people/danyelf/">Danyel Fisher</a>, MSR.<br>
<a href="http://jheer.org">Jeffrey Heer</a>, UW<br>
<a href="http://people.csail.mit.edu/leilani/">Leilani Battle</a>, MIT.<br>
<a href="http://www.cs.arizona.edu/~nivanferreira">Nivan Ferreira</a>, Arizona.</p>

<h4>Contact</h4>
<p>
  <a href="mailto:organizers@interactive-analysis.org">organizers@interactive-analysis.org</a>
</p>

  
</div>
