<h4>Important dates</h4>

<p>Submission: Jul 31st<br>
Notification: Aug 15th<br>
Final version: Aug 25th<br>
Presentations: Oct 2nd
</p>

<!-- <h4>Submissions</h4> -->
<!-- <p> -->
<!--   Submit via <a href="http://precisionconference.com/~vgtc/">PCS</a> -->
<!-- </p> -->
    
<h4>Organizers</h4>
<p><a href="http://www.cs.tufts.edu/~remco/">Remco Chang</a>, Tufts.<br>
<a href="http://cscheid.net">Carlos Scheidegger</a>, Arizona.<br>
<a href="http://research.microsoft.com/en-us/people/danyelf/">Danyel Fisher</a>, MSR.<br>
<a href="http://jheer.org">Jeffrey Heer</a>, UW</p>

<h4>Contact</h4>
<p>
  <a href="mailto:organizers@interactive-analysis.org">organizers@interactive-analysis.org</a>
</p>

  
</div>
