<!DOCTYPE html>
<html>

{% include head.html %}

<body role="document">
  <div class="container theme-showcase" role="main">
    <nav>
      <div class="col-md-1"></div>
      <a href="{{site.url}}/year/2015/">2015</a>
      <a href="{{site.url}}/year/2017/">2017</a>
      <a href="{{site.url}}/year/2018/">2018</a>
      <a href="{{site.url}}/year/2019/">2019</a>
      <a href="{{site.url}}/">Home</a>
    </nav>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h1>
          <a href="{{site.url}}" title="Back to Homepage">{{ page.title }}</a>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 no-padding">
        <div class="col-md-9">
          {{ content }}
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
          {% include sidebar-2019.html %}
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

  {% include footer.html %}

  <!-- <div class="page-content"> -->
  <!--   <div class="wrapper"> -->
  <!--   </div> -->
  <!-- </div> -->

</body>

</html>